@import '../../../styles/settings.scss';

.root {
  background: $background-dark;
  width: 100%;
  display: flex;

  .title {
    text-transform: uppercase;
    color: $font-light;
    margin: 20px auto;
  }
}
